/* Réinitialiser les marges et les paddings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*police et couleur principale des textes*/
body{
    font-family:"Poppins", sans-serif;
    color:black;
}
/*Largeur maximale des éléments et centrage du container*/
.container{
    width: 100%;
    max-width: 1200px;
}
/*les marges*/
.mt-200{
    margin-top: 200px;
}
.mt-150{
    margin-top: 150px;
}
.mt-100{
    margin-top: 100px;
}
.mt-75{
    margin-top: 75px;
}
.mt-50{
    margin-top: 50px;
}
.mt-25{
    margin-top: 25px;
}

/*Header*/
.custom-container {
    max-width: 1200px;
}

/*index*/
.creches{
    width: 300px;
    height: 500px;
    border: solid 1px black;
    border-radius: 10px;

}

.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Ajuste cet espace selon tes besoins */
}

.radio-item label {
    margin-left: 10px; /* Ajuste cet espace selon tes besoins */
}











